{% extends 'OroUIBundle:actions:view.html.twig' %}

{% oro_title_set({params : {"%account.name%": entity.name|default('N/A')} }) %}
{#{% set audit_entity_class = 'OroCRM_Bundle_AccountBundle_Entity_Account' %}#}


{% block navButtons %}
    {#{% if resource_granted('orocrm_contact_create') %}#}
        {#{{ UI.button({#}
        {#'path': path('nearest_campaign_page_create', {'page': entity.id}),#}
        {#'iClass': 'icon-page',#}
        {#'title': 'Add'|trans ~ ' ' ~ 'orocrm.contact.entity_label'|trans|lower,#}
        {#'label': 'Add'|trans ~ ' ' ~ 'orocrm.contact.entity_label'|trans|lower#}
        {#}) }}#}
    {#{% endif %}#}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
        'path': path('nearest_franchise_franchisee_update', {'id': entity.id}),
        'entity_label': 'nearest.franchisee.entity_label'|trans
        }) }}
    {% endif %}


    {{ UI.addButton({
        'path' : path('nearest_franchise_person_create', { id: entity.id }),
        'entity_label': 'nearest.person.entity_label'|trans
    }) }}

    {#{% if resource_granted('DELETE', entity) %}#}
    {#{{ UI.deleteButton({#}
    {#'dataUrl': path('oro_api_delete_account', {'id': entity.id}),#}
    {#'dataRedirect': path('orocrm_account_index'),#}
    {#'aCss': 'no-hash remove-button',#}
    {#'dataId': entity.id,#}
    {#'id': 'btn-remove-account',#}
    {#'entity_label': 'orocrm.account.entity_label'|trans#}
    {#}) }}#}
    {#{% endif %}#}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('nearest_franchise_franchisee_index'),
    'indexLabel': 'nearest.franchisee.entity_plural_label'|trans,
    'entityTitle': entity.name|default('N/A')
    } %}
    {{ parent() }}
{% endblock pageHeader %}


{% block breadcrumbs %}


    <div class="status-enabled pull-left">
        {% if entity.enabled %}
            <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled icon-circle"></i>{{ 'Active'|trans }}</div>
        {% else %}
            <div class="badge badge-enabled status-disabled"><i class="icon-status-disabled icon-circle"></i>{{ 'Inactive'|trans }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}


{% block stats %}
    {#<li>{{ entity.createdAt }}</li>#}
    <li>{{ 'nearest.franchisee.created_at.label'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'nearest.franchisee.updated_at.label'|trans }}: {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A' }}</li>
{% endblock stats %}

{% block content_data %}
    {% set franchiseeInformationWidget %}
        {{ oro_widget_render({
        'widgetType': 'block',
        'url': path('nearest_franchise_franchisee_widget_info', {id: entity.id})
        }) }}
    {% endset %}


    {% set franchiseeLocationWidget %}
        {{ oro_widget_render({
        'widgetType': 'block',
        'url': path('nearest_franchise_franchisee_widget_location', {id: entity.id})
        }) }}
    {% endset %}


    {% set franchiseePeopleWidget %}
        {{ oro_widget_render({
        'widgetType': 'block',
        'url': path('nearest_franchise_franchisee_widget_people', {id: entity.id})
        }) }}
    {% endset %}



    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [franchiseeInformationWidget]}
            ]
        },
        {
            'title': 'Location'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [franchiseeLocationWidget]}
            ]
        },
        {
            'title': 'People'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [franchiseePeopleWidget]}
            ]
        }
    ] %}


    {% set id = 'pageView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock content_data %}